# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/
old_model_env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Generated model artifacts
models/*.pkl

# OS
.DS_Store
Thumbs.db
